<h3>{{pageTitle}}</h3>

<form [formGroup]="usuarioForm" (submit)='salvar()'>
    <input type="hidden" formControlName="_id">
    <label for="name">Nome:</label>
    <input type="text" id="name" formControlName="name">
    <div  *ngIf="usuarioForm.get('name').invalid && usuarioForm.get('name').touched">
        <div *ngIf="usuarioForm.get('name').errors.required">dado obrigatório</div>
        <div *ngIf="usuarioForm.get('name').errors.minlength">deve ter no mínimo 2 caracteres</div>
    </div>
    <br />
    
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
    <div  *ngIf="usuarioForm.get('email').invalid && usuarioForm.get('email').touched">
        <div *ngIf="usuarioForm.get('email').errors.required">dado obrigatório</div>
        <div *ngIf="usuarioForm.get('email').errors.email">email invalido</div>
    </div>
    <br />
    <div #divPassword>
        <label for="password">Senha:</label>
        <input #password type="password" id="password" formControlName="password">
        <div  *ngIf="usuarioForm.get('password').invalid && usuarioForm.get('password').touched">
            <div *ngIf="usuarioForm.get('password').errors.required">dado obrigatório</div>
            <div *ngIf="usuarioForm.get('password').errors.minlength">tamanho da senha invalido</div>
        </div>
    </div>
    
    <br />
    <div #divPasswordConfirm>
        <label for="passwordConfirm">Confirmação de senha:</label>
        <input #confirmPassword type="password" id="passwordConfirm" (change)="validatePassword(password.value, confirmPassword.value)">
        <div #passwordInvalid></div>
        <br />
    </div>
    
    <button type="submit" [disabled]="usuarioForm.invalid || invalidPaswsword">Salvar</button>
    <button routerLink="/usuario"> << Voltar</button>
</form>